# .gitignore

############## macOS General
.DS_Store
.AppleDouble
.LSOverride

############## macOS Thumbnails
._*

############## macOS Root files
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
*.swp

############## macOS Network share files
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

############## Xcode User settings
xcuserdata/

############## Xcode 8.x compatibility
*.xcscmblueprint
*.xccheckout

############## Xcode 3.x compatibility
build/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

############## Xcode Obj-C
*.hmap

############## Xcode App packaging
*.ipa
*.dSYM.zip
*.dSYM

############## Xcode Playgrounds
timeline.xctimeline
playground.xcworkspace

############## Xcode Other
*.imageasset
*~.nib

############## Swift Package Manager
Packages/
Package.pins
Package.resolved
.swiftpm
.build/
Packages
xcuserdata
*.xcodeproj

############## Carthage
Carthage/Checkouts
Carthage/Build/

############## Accio
Dependencies/
.accio/

############## Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots/
**/fastlane/test_output
FastlaneScreenshots/
fastlane/Appfile
!Gemfile.lock

############## iOS Code Injection
iOSInjectionProject/

############## Xcode Allowlist
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings

############## IDE Specific
.idea/