<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>ITSAppUsesNonExemptEncryption</key>
		<false />
		<key>NSLocalNetworkUsageDescription</key>
		<string>Local Network permission used to connect to Pulse on macOS for debugging.</string>
		<key>NSBonjourServices</key>
		<array>
			<string>_pulse._tcp</string>
		</array>
	</dict>
</plist>